html {
    background-color: #960014;
}

a {
    text-decoration: none;
    color: white;
}

.mainHeader {
    color: white;
}

.content {
    padding: 200px;
}
.container {
    display: grid;
    grid-template-columns: repeat(6, 130px);
    grid-template-rows: repeat(5, 130px);
    gap: 20px;
    position: absolute;  
    z-index: 5;; 
}

.linkspace {
    display: grid;
}

.listStyle {
    
    color: white;    
}

canvas {
    position:absolute;
    top: 0px;
    left: 0px;
    z-index: 3;
    pointer-events: none;
}




