.hatch {
    margin: 1rem;
    color: white;
    font-family: lobster;
}

.active-card {
    background-color: #D6001C;
    border: 1.0px dashed #FFF;
    height: 130px;
}

.inactive-card {
    background-color: #960014;
    border: 1.0px dashed #DDD;
    height: 130px;
}