.active_card {
  background-color: #d6001c;
  color: white;
  border: 1px dashed #fff;
}

.active_card h1 {
  padding: 1rem;
  font-size: xx-large;
  font-family: Lobster;
}

.inactive_card {
  color: white;
  background-color: #960014;
  border: 1px dashed #ddd;
}

.inactive_card h1 {
  padding: 1rem;
  font-size: xx-large;
  font-family: Lobster;
}
