.card {
    
}

.hatch {
    margin: 1rem;
    color: white;
}

.active-card {
    background-color: #D6001C;
    border: 1.0px dashed #FFF;
}

.inactive-card {
    background-color: #960014;
    border: 1.0px dashed #DDD;
}